<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity
            android:name=".sdk.demos.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".sdk.demos.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                This is a catch-all URL pattern.
                Retarded Android is unable to parse URLs with fragments
                -->
                <data
                    android:host="web.tinode.co"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".methods.message.MessageActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.co.tinode.im" />
            </intent-filter>
            <intent-filter>

                <!-- this is used when a AndroidNotification is provided in an FCM push message -->
                <action android:name=".MessageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sdk.demos.call.CallActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="tindroidx.intent.action.call.INCOMING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
