<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!--
     Needed for video calls, adding an avatar pic when registering new accounts,
        attaching photos to messages.
        -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Needed for saving attachments -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Needed for picking images and videos from gallery -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- Needed for contact discovery - finding users on tinode who are in user's address book -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> <!-- Accessing Tinode-authenticated accounts on Android pre-M (23). -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- Make current user discoverable by other users -->
    <uses-permission android:name="android.permission.READ_PROFILE" /> <!-- Check if account sync is enabled -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" /> <!-- Enable sync if it's disabled -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" /> <!-- Record audio messages -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Needed for audio visualization and audio recording adjustments. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Needed for incoming call notifications -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- Telephony API: placing and receiving calls. -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Required on API 33+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Enable installation on devices without the camera: some features won't be available -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Used to detect phone's country -->
    <uses-feature
        android:name="android.hardware.telephony.radio.access"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony.subscription"
        android:required="false" />

    <application>

        <activity
            android:name=".sdk.demos.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".sdk.demos.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                This is a catch-all URL pattern.
                Retarded Android is unable to parse URLs with fragments
                -->
                <data
                    android:host="web.tinode.co"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".methods.message.MessageActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.co.tinode.im" />
            </intent-filter>
            <intent-filter>

                <!-- this is used when a AndroidNotification is provided in an FCM push message -->
                <action android:name=".MessageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sdk.demos.call.CallActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="tindroidx.intent.action.call.INCOMING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.bbchatfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bbchat_provider_paths" />
        </provider>

        <!-- Receives broadcast to hang up incoming call -->
        <receiver android:name=".sdk.app.BReceiverHangUp" />
    </application>
</manifest>
